.form {
    width: 100%;
    margin: 0 auto;
}

.search {
    width: 60%;
    margin-left: 7rem;
    margin-top: 3rem;
    border: solid 1px rgb(117, 117, 117);
    margin-right: 0.5rem;
    border-radius: 3px;
    -webkit-border: solid 1px rgb(117, 117, 117);
    -webkit-border-radius: 3px;
  
}

.btn {
    border: solid 0px;
    background-color: #c9c9c9;
    padding: 0.3rem;
    color: #fff;
    border-radius: 3px;
    -webkit-background-color: #c9c9c9;
    -webkit-padding: 0.3rem;
    -webkit-border-radius: 3px;
}
@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

.search {
    margin-top: 1rem;
    margin-left: 3rem;
}


}





