.like_num {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'nanum gothic';
    font-weight: bold;
}

.like {
    margin: 0 auto;
    border: solid 0px;

    
}

.true {
    font-family: 'nanum gothic';
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    border: solid 0px;
    border-radius: 6px;
    background-color: #5797FF;
    padding: 0.4rem;
}

.false {
    font-family: 'nanum gothic';
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    border: solid 0px;
    border-radius: 6px;
    background-color: #a8a8a8;
    padding: 0.4rem;
}
   